
@{
    ViewData["Title"] = "Index";
}

@using HospitalManagementSystem.Application.Models;
@model IEnumerable<VisitShortDTO>

<div class="row">
    <div class="col-lg-12">
        <h4>Visit Data</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Visit Start Date</th>
                    <th>Visit End Date</th>
                    <th>Doctor ID</th>
                    <th>Room Number</th>
                    <th>Department Name</th>
                    <th>Patient ID</th>
                    <th>Tag Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var visit in Model)
                {
                    <tr>
                        <td>@visit.VisitStartDate</td>
                        <td>@visit.VisitEndDate</td>
                        <td>@visit.DoctorId</td>
                        <td>@visit.RoomNumber</td>
                        <td>@visit.DepartmentName</td>
                        <td>@visit.PatientId</td>
                        <td>@visit.TagName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

