
@{
    ViewData["Title"] = "Index";
}

@using HospitalManagementSystem.Application.Models;
@model IEnumerable<VisitShortDTO>

<div class="row">
    <div class="col-lg-12">
        <h4>Visit Data</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Visit Start Date</th>
                    <th>Visit End Date</th>
                    <th>Doctor ID</th>
                    <th>Room Number</th>
                    <th>Patient ID</th>
                    <th>Tag Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var visit in Model)
                {
                    <tr>
                        <td>@visit.VisitStartDate</td>
                        <td>@visit.VisitEndDate</td>
                        <td>@visit.DoctorId</td>
                        <td>@visit.RoomNumber</td>
                        <td>@visit.PatientId</td>
                        <td>@visit.TagName</td>
                        <td>@visit.Status</td>
                        <td>
                            @if (!visit.IsCancelled) // Show button only if visit is not cancelled
                            {
                                <form method="post" asp-controller="Visit" asp-action="Cancel">
                                    <input type="hidden" name="visitId" value="@visit.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                                </form>
                                <form method="post" asp-controller="Visit" asp-action="Done">
                                    <input type="hidden" name="visitId" value="@visit.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Done</button>
                                </form>
                            }
                            else
                            {
                                <span class="text-muted">Cancelled</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

